
<div class="about">
    <div class="container ">
        <h3 class="text-center">My About</h3>
        <div class="code-logo">
            <span><i class="fa fa-code"></i></span>
        </div>

        <div class="text-my">
            <p>My goal is to work for your organization as a developer and find a suitable position within your organization
                I can help you define your goal, choose your tools, and create a plan tailored to your business. I can completely design, modify and modify all the elements easily in just a few easy steps to save your time!</p>
    
        </div>    
        <img [src]="myimg" alt="myimg">

        <div class="listmy">
            <ul class="admin-profile">
                <li><span class="pro-title"> Name </span> : <span class="pro-detail">Ahmed Ghaly</span></li>
                <li><span class="pro-title"> Age </span>  : <span class="pro-detail">22 Years</span></li>
                <li><span class="pro-title"> Experience </span> :  <span class="pro-detail">0 Years</span></li>
                <li><span class="pro-title"> Country </span> :  <span class="pro-detail">Egypt</span></li>
                <li><span class="pro-title"> Location </span>  : <span class="pro-detail">K F S</span></li>
                <li><span class="pro-title"> Phone </span> :  <span class="pro-detail">01097615946</span></li>
                <li><span class="pro-title"> Freelance </span> :  <span class="pro-detail">Available</span></li>
              </ul>
        </div>
    </div>
</div>














