
    <section class="navcion navbar-expand-sm">
        <div class="contar">
          <ul class="nav nav-pills">
          
              <li class="nav-item">
              <a class="nav-link "  routerLink="/skills"  ><i class="fa fa-tasks"></i><br>
                  <span class="title-nav">Skills</span>
              </a>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/service"><i class="fa fa-cog"></i><br>
                  <span class="title-nav">Service</span>
              </a>
              
              </li>
              <li class="nav-item ">
                  <a class="nav-link first-nav " routerLink="/portfolio" ><i class="fa fa-suitcase"></i><br>
                  <span>Portfolio</span>
              </a>
                  
              </li>
              <li class="nav-item">
              <a class="nav-link "  routerLink="/About"><i class="fa fa-address-book"></i><br>
                  <span>About</span>
              </a>
              
              </li>
              <li class="nav-item">
              <a class="nav-link list-nav "  routerLink="/"><i class="fa fa-home firast-link active"></i><br>
                  <span>Home</span>
              </a>
              
              </li>
              
          
          </ul>
        </div>   
    </section> 
