<div class="skills">
    <div class="container ">
        <h3 class="text-center">My Skills</h3>
        <div class="code-logo">
            <span><i class="fa fa-code"></i></span>
        </div>

        <div class="row">
            <div class="caption col-6 col-md-4 col-lg-4">
                <div class="select select1">
                    <img [src]="html" alt="select">
                    
                </div>
                <div class="fot-select fot-select1 text-center">
                    
                    <h5>Html</h5>
                </div>
            </div>
            <div class="caption col-6 col-md-4 col-lg-4">
                <div class="select select2">
                    <img [src]="css" alt="select">
                    
                </div>
                <div class="fot-select fot-select2 text-center">
                    
                    <h5>Css</h5>
                </div>
            </div>
            <div class="caption col-6 col-md-4 col-lg-4">
                <div class="select select3">
                    <img [src]="js" alt="select">
                    
                </div>
                <div class="fot-select fot-select3 text-center">
                    
                    <h5>Js</h5>
                </div>
            </div>
            <div class="caption col-6 col-md-4 col-lg-4">
                <div class="select select4">
                    <img [src]="bootstrap" alt="select">
                    
                </div>
                <div class="fot-select fot-select4 text-center">
                
                    <h5>Bootstrap</h5>
                </div>
            </div>
            <div class="caption col-6 col-md-4 col-lg-4">
                <div class="select select5">
                    <img [src]="angular" alt="select">
                    
                </div>
                <div class="fot-select fot-select5 text-center">
                
                    <h5>Angular</h5>
                </div>
            </div>
            <div class="caption col-6 col-md-4 col-lg-4">
                <div class="select select6">
                    <img [src]="media" alt="select">
                    
                </div>
                <div class="fot-select fot-select6 text-center">
                
                    <h5>Media</h5>
                </div>
            </div>
            <div class="caption col-6 col-md-4 col-lg-4">
                <div class="select select7">
                    <img [src]="git" alt="select">
                    
                </div>
                <div class="fot-select fot-select7 text-center">
                
                    <h5>Git</h5>
                </div>
            </div>
            <div class="caption col-6 col-md-4 col-lg-4">
                <div class="select select8">
                    <img [src]="github" alt="select">
                    
                </div>
                <div class="fot-select fot-select8 text-center">
                
                    <h5>Github</h5>
                </div>
            </div>
        </div>
        
    </div>
</div>        