<div class="portfolio">
    <div class="container ">
        <h3 class="text-center">My Portfolio</h3>
        <div class="code-logo">
            <span><i class="fa fa-code"></i></span>
        </div>
          
        <div class="row">
            <div class="col-12 col-md-4 imges">
                <img [src]="myimg" alt="myimg">
                <div class="hovr-link">
                    <a href="https://kfscommerce25.netlify.app/" target="_blank">
                        <i class="fa fa-link fa-2x"></i>
                      </a>
                </div>
            </div>
            <div class="col-12 col-md-4 imges">
                <img [src]="myimg2" alt="myimg">
                <div class="hovr-link">
                    <a href="https://hotel-home.netlify.app/" target="_blank">
                        <i class="fa fa-link fa-2x"></i>
                      </a>
                </div>
            </div>
        </div>
    </div>
</div>        
