<header>
    <a class="logo" href="#">
        <img class="img-logo" [src]="imgLogo" alt="logo">
    </a>
    
   <div class="row"> 
    <div class="img-head col-6 col-md-6">
        <img [src]="imgMy" alt="imgMy" class="img-my">
        <div class="box-shadoimg"></div>
    </div>
    <section class=" text-head col-6 col-md-6">
        <h5>Hello I'm</h5>
        <h1>Ahmed Ghaly</h1>
        <p>Designer &<br> Develper Front End </p>
        <a href="#">Download C V</a>
    </section>
   </div> 
   <div class="border-linktop"></div>
   <div class="border-linkbottom"></div>
   <div class="limked-my">
      
    <a href="https://www.facebook.com/ahmedghaly.ghaly.142" target="blanck"><i  class="fa fa-facebook icon-primary"></i></a>
    <a href="https://www.instagram.com/ghaly6754/" target="blanck"><i  class="fa fa-instagram icon-primary"></i></a>
      <a href="https://chat.whatsapp.com/IbU6oFydDwG6KuVeT7FOVH" target="blanck"><i class="fa fa-whatsapp icon-primary"></i></a>
     <a href="https://twitter.com/Ahmedghal72" target="blanck"> <i class="fa fa-twitter icon-primary"></i></a>
     <a href="https://github.com/AhmedGhaly0" target="blanck"> <i class="fa fa-github icon-primary"></i></a>
</div>
  
</header>

